{% assign en_slug = fileSlug | append: "_en" %}

{% assign en_item = collections.all | where_exp: "i", "i.fileSlug == en_slug" | first %}


{% assign sp_slug = fileSlug | append: "_sp" %}

{% assign sp_item = collections.all | where_exp: "i", "i.fileSlug == sp_slug" | first %}


<div class="selo">
<h1>{{ title }}</h1>


  <div class="content">
    <figure class="context">
    <img alt="{{ alt }}" src="{{ media }}">
    <figcaption>
      <p><span class="caption">{{ alt }}</span> 
      {% if external %}
      <a href="{{ external }}">{{ name }} by {{ source }}</a>
      {% endif %}

      </p>
    
    </figcaption>
    </figure>
    
    <div class="regular">
        <div class="tok">
          {{ content }}
        </div>
        {% if en_item %}
          <div class="en">
          {{ en_item.content }}
          </div>
        {% endif %}
         {% if sp_item %}
          <div class="sp">
          {{ sp_item.content }}
          </div>
        {% endif %}

      </div>
      <div class="inject1 table">
      
      </div>
      <div class="inject2 lines">
      
      </div>
  </div>
</div>
<script src="/scripts/mode-config.js"></script>



       
