{% assign folderPath = page.inputPath | split: "/" | slice: 0, -1 | join: "/" %}

{% assign dirFiles = collections.all | where_exp: "i", "i.inputPath contains folderPath" %}

{% assign en_item = dirFiles | where_exp: "i", "i.inputPath contains 'en.md'" | first %}
{% assign sp_item = dirFiles | where_exp: "i", "i.inputPath contains 'sp.md'" | first %}
{% assign tok_item = dirFiles | where_exp: "i", "i.inputPath contains 'tok.md'" | first %}

{% assign size = tokLines.size | minus: 1 %}








<div class="selo">

{% if beforeText %}
  <div class="back-forth">
  <a href="{{ beforeLink }}">{{ beforeText }}</a>
  <a href="{{ nextLink }}">{{ nextText }}</a>
  </div>
{% endif %}

  <h1 id="main-content">{{ title }}</h1>
  <div class="content">
    <figure class="context">
    <img alt="{{ alt }}" src="{{ media }}">
    <figcaption>
      <p>
      <span class="caption">{{ alt }}</span> 


      {% if external %}
      <span class="attr"> 
          <a href="{{ external }}">Image: {{ name }}</a>
        |
          by <strong>{{ source }}</strong>.

            {% assign license_match = false %}

            {% for linked_license in licenses %}
              {% if linked_license.key == license %}
                {% assign license_match = true %}
                {% assign license_link = linked_license.link %}
              {% endif %}
            {% endfor %}  
        |   
            {% if license_match %}

          <a href="{{ license_link }}"> {{ license }}</a>
            
            {% else %}

          <span>{{ license }} (This link is broken)</span>
            
            {% endif %}
      {% endif %}
      </p>
    
    </figcaption>
    </figure>
    
    <div class="regular">
        <div class="tok">
          {{ tok_item.content }}
        </div>
        {% if en_item %}
          <div class="en">
          {{ en_item.content }}
          </div>
        {% endif %}
         {% if sp_item %}
          <div class="sp">
          {{ sp_item.content }}
          </div>
        {% endif %}

      </div>
      <div class="inject1 table">

    <table>
      <thead>
        <tr>
          <th lang="tok">toki pona</th>
          <th lang="en">English</th>
          <th class="sp">sitelen pona</th>
        </tr>
      </thead>
      <tbody>
      {% for i in (0..size) %}
      <tr>
      <td lang="tok">{{ tokLines[i] }}</td>
      <td lang="en">{{ enLines[i] }}</td>
      <td class="sp">{{ spLines[i] }}</td>
      </tr>
      {% endfor %}

      </tbody>
    </table>



      
      </div>
      <div class="inject2 lines">

{% for i in (0..size) %}


<div class="line">
<p lang="tok">{{ tokLines[i] }}</p>
<p class="sp">{{ spLines[i] }}</p>
<details lang="en">
<summary>en</summary>
<p>{{ enLines[i] }}</p>
</details>
<details lang="tok">
<summary>sitelen Lasina</summary>
<p>{{ tokLines[i] }}</p>
</details>
</div>
{% endfor %}


      
      </div>
  </div>
</div>

<script src="/scripts/mode-configure.js"></script>

       
